@font-face {
    font-family: 'Acumin Pro';
    src: url('./fonts/AcuminPro-Regular.otf');
}
@font-face{
    font-family: 'Acumin Pro Wide';
    src: url('/fonts/AcuminProWide-Regular.otf');
}
:root{
    --light-orange: #fcbf49;
    --dark-orange: #f77f00;
    --classic-red: #d62828;
    --beige: #eae2b7;
    --dark-blue: #263f5c;
    --text-color: #5e616f;
    --text-gray: #a2a3ab;
}
*{
    padding: 0;
    margin: 0;
}
/* -----------------HEADER------------------- */

#banner{
    background: url(img/header.png) no-repeat;
    background-size: cover;
    height: 950px;
}
nav {
    display: flex;
    justify-content: end;
    font-family: 'Acumin Pro';
    font-size: 16px;
    margin-top: 6px;
}
nav ul li{
    list-style-type: none;
    padding-right: 20px;
    padding-top: 5px;
    cursor: pointer;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: var(--dark-orange);
    text-decoration: none;
}
nav button{
    background-color: transparent;
    height: 40px;
    width: 120px;
    color: white;
    border: 1px solid white;
}
nav button:hover{
    color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
}
#contacts{
    display: flex;
    justify-content: end;
    color: white;
    margin-top: 20px;
}
#contacts span:nth-of-type(1){
    font-family: 'Acumin Pro';
    color: var(--dark-orange);
}
#contacts span:nth-of-type(3){
   font-family: 'Acumin Pro Wide';
}
#contacts img{
   margin-top: -4px;
}
#head{
    margin-top: 130px;
}
#head h1{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
    color: white;
}
#head p:nth-of-type(1){
    font-family: 'Acumin Pro';
    font-size: 14px;
    color: var(--beige);
}
#head p:nth-of-type(2){
    font-family: 'Acumin Pro Wide';
    color: white;
    margin-top: 30px;
}
/* -----------------BURGERMENU------------------- */

#header_burg{
    display: none;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 3;
}
#burg_head{
    height: 50px;
}
#burg_menu>img:nth-of-type(1){
    height: 30px;
    margin-left: 20px;
    margin-top: -5px;
}
#burg_menu>button:nth-of-type(1){
    height: 50px;
    width: 120px;
    border: none;
    background-color: var(--dark-orange);
    color: white;
    margin-left: 30px;
    margin-top: -10px;
}
#burg_menu>button:nth-of-type(2){
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1px solid var(--text-gray);
    margin-left: 5px;
    margin-top: -10px;
}
#phone_burg{
    background-color: black;
    color: white;
    font-weight: bold;
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    position: sticky;
    width: 26px;
    height: 26px;  
    cursor: pointer;
    z-index: 3;
    padding-top: 15px;
}
.menu__btn > span,.menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;  width: 100%;
  height: 2.5px;  background-color: #616161;
  z-index: 1;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;  width: 200px;
    height: 100%;  margin: 0;
    padding: 80px 0;  list-style: none;
    text-align: start;  background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 1;
}
.menu__item {
    display: block;
    padding: 12px 24px;  color: #333;  
    font-family: 'Acumin Pro';
    font-size: 20px;
    font-weight: 600;  
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
    color: var(--dark-orange);
    text-decoration: none;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  transition-duration: .25s;
}.menu__box {
  transition-duration: .25s;
}.menu__item {
  transition-duration: .25s;
}
/* -----------------BURGERMENU END------------------- */
@media screen and (max-width: 1200px){
    #banner{
        height: 820px;
    }
    #logo>div>a>img{
        height: 30px;
    }
    #logo>div{
        margin-top: 5px;
    }
    nav{
        margin-top: -30px;
    }
}
@media screen and (max-width: 992px){
    #banner{
        background-size: cover;
        height: 760px;
    }
    #logo>div{
        margin-top: -45px;
    }
    nav{
      margin-top: 10px;
      font-size: 17.5px;
    }
    #head{
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px){
    #banner{
        background-size: cover;
        height: 580px;
    }
    #head{
        margin-top: 30px;
    }
    #logo>div>a>img{
        height: 20px;
    }
    #contacts{
        font-size: 12px;
    }
    nav{
        margin-top: 10px;
        font-size: 12px;
    }
    nav>button{
        height: 30px;
        width: 90px;
    }
    #head>h1{
        font-size: 28px;
    }
    #head>p:nth-of-type(2){
        font-size: 14px;
    }
}
@media screen and (max-width: 576px){
    header{
        display: none;
    }
    #header_burg{
        display: block;
    }
    #head{
        margin-top: 130px;
    }
}
/* -----------------HEADER END------------------- */
/*------------------ MAIN ------------------------*/
#block-1{
    margin-top: 20px;
}
#block-1 h2{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
    margin-top: 20px;
}
#block-1 h4{
    margin-top: 40px;
    margin-bottom: 20px;
}
#block-1 p{
    font-family: 'Acumin Pro';
    font-size: 15px;
}
#block-1 a{
    color: var(--classic-red);
    font-family: 'Acumin Pro';
    font-weight: bold;
}
#block-1>div>div:nth-of-type(2)>img{
    margin-top: 10px;
    margin-bottom: 30px;
}
#block-1-img{
    position: relative;
}
#block-1-get15{
    height: 126px;
    width: 210px;
    border-radius: 10px;
    background-color: var(--dark-blue);
    color: white;
    font-family: 'Acumin Pro Wide';
    box-shadow: 0px 5px 15px 0px #223c5033;
    padding: 15px 0px 0px 30px;
    position: absolute;
    top: 200px;
    right: 430px;
}
#block-1-get15>p{
    font-size: 20px;
    font-weight: bold;
}
#block-1-get300{
    height: 146px;
    width: 210px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Acumin Pro Wide';
    box-shadow: 0px 5px 15px 0px #223c5033;
    padding: 15px 0px 0px 30px;
    position: absolute;
    top: 340px;
    right: 430px;
}
#block-1-get300>p{
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width: 1200px){
    #block-1-get15{
        height: 120px;
        top: 220px;
        right: 340px;
    }
    #block-1-get300{
        height: 140px;
        top: 350px;
        right: 340px;
    }
    #block-1>div>div:nth-of-type(2){
        padding-left: 40px;
    }
}
@media screen and (max-width: 992px){
    #block-1-img{
        margin-top: 80px;
    }
    #block-1-img>img{
        height: 530px;
    }
    #block-1-get15{
        height: 106px;
        width: 160px;
        top: 160px;
        right: 250px;
    }
    #block-1-get300{
        height: 126px;
        width: 160px;
        top: 280px;
        right: 250px;
    }
    #block-1-get15>p, #block-1-get300>p{
        font-size: 16px;
    }
    #block-1>div>div:nth-of-type(2){
        padding-left: 60px;
    }
}
@media screen and (max-width: 768px){
    #block-1-img{
        margin-top: -0px;
    }
    #block-1-img>img{
       padding-left: 70px;
    }
    #block-1-get15{
        top: 160px;
        right: 370px;
    }
    #block-1-get300{
        top: 280px;
        right: 370px;
    }
}
@media screen and (max-width: 576px){
}

/*---------------------------*/
#block-2{
    box-shadow: 0px 5px 15px 0px #223c5033;
}
#block-2-first{
    padding: 40px;
}
#writing-dissertation>h3{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
}
#writing-dissertation>p{
    font-family: 'Acumin Pro';
    font-size: 15px;
    margin-top: 30px;
}
#writing-dissertation>img{
    margin-left: -28px;
}
#add-list{
    margin-left: 30px;
}
#add-list h3{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
}
#add-list ul li{
    list-style-type: square;
    color: var(--light-orange);
    margin-top: 15px;
}
#add-list ul li span{
    color: black;
    font-family: 'Acumin Pro Wide';
}
#how-it-works>div:hover{
    background-color: #eeeeee;
}
#how-it-works>div{
    width: 285.5px;
}
#how-it-works>div>img{
    margin-top: -25px;
    width: 285.5px;
}
#how-it-works-1, #how-it-works-2, #how-it-works-3, #how-it-works-4{
    padding: 30px 0px 40px 50px;

}
#how-it-works-1>h5, #how-it-works-2>h5, #how-it-works-3>h5, #how-it-works-4>h5{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
    margin-top: 20px;
}
#how-it-works-1>p, #how-it-works-2>p, #how-it-works-3>p, #how-it-works-4>p{
    font-family: 'Acumin Pro';
}

@media screen and (max-width: 1200px){
    #writing-dissertation>img{
        height: 180px;
    }
    #how-it-works>div{
        width: 240px;
    }
    #how-it-works>div>img{
        width: 240px; 
    }
}
@media screen and (max-width: 992px){
    #block-2{
        margin-top: 40px;
    }
    #writing-dissertation>img{
        height: 140px;
    }
    #add-list>ul{
        font-size: 14px;
    }
    #how-it-works>div{
        width: 180px;
    }
    #how-it-works>div>img{
        width: 180px; 
    }
    #how-it-works-1, #how-it-works-2, #how-it-works-3, #how-it-works-4{
        padding: 10px 10px 30px 15px;
        font-size: 14px;
    }
}
@media screen and (max-width: 768px){
    #writing-dissertation>img{
        height: 200px;
    }
    #how-it-works>div{
        width: 540px;
        text-align: center;
    }
    #how-it-works>div>img{
        width: 540px;
        height: 2px;
    }
}
@media screen and (max-width: 576px){
    #writing-dissertation>img{
        height: 220px;
    }
}
/*------------TESTIMONIALS---------------*/

#testimonials{
    background: url(img/testimonials.png) no-repeat;
    background-size: cover;
    height: 600px;
    font-family: 'Acumin Pro';
}
#testimonials>div{
    margin-top: 100px;
}
.test{
    box-shadow: 0px 5px 15px 0px #223c5033;
    border-radius: 15px;
    padding: 30px 20px 30px 40px;
    background-color: white;
    margin-left: 40px;
    animation: slider 5s ease .2s infinite;
}
@keyframes slider{
    0%{
        left: 0;
    }
    35%{
        left: -220px;
    }
    65%{
        left: -440px;
    }
    100%{
        left: -640px;
    }
}
.test>div>p:nth-of-type(2){
    margin-left: 200px; 
}
.test>div{
    margin-bottom: 10px;
}
.test>p:nth-of-type(2)>span{
    color: var(--dark-blue);
}
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){
    .test{
        padding: 30px 20px 30px 30px;
    }
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 576px){
}

/*---------------------------*/
#block-prices{
    background: url(img/block-prices.png) no-repeat;
    background-size: cover;
    height: 780px;
}
#block-prices>div:nth-of-type(1){
    padding-top: 50px;
    padding-bottom: 50px;
}
#block-prices>div:nth-of-type(1)>h2{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
}
#degrees{
    background-color: white;
    height: 373px;
    width: 290px;
    padding-top: 50px;
    box-shadow: 0px 5px 15px 0px #223c5033;
    font-family: 'Acumin Pro Wide';
}
#degrees:hover{
    border: 2px solid var(--light-orange);
}
#degrees>h4{
    font-weight: bold;
}
#degrees>img{
    padding-top: 15px;
    padding-bottom: 30px;
}
#degrees>div>p:nth-of-type(2){
    font-size: 30px;
    font-weight: bold;
}
#degrees>div>p:nth-of-type(2)>sup{
    font-size: 20px;
}
#degrees>div>p:nth-of-type(1){
    color: var(--text-gray);
}
#degrees>button{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid var(--text-gray);
}
#degrees>button:hover{
    border: 1px solid var(--light-orange);
    color: var(--light-orange);
}
@media screen and (max-width: 992px){
    #block-prices{
        height: 960px;
    }
    #block-prices>div:nth-of-type(1){
        padding-bottom: 20px; 
    }
    #degrees{
        width: 100%;
        height: 200px;
        padding: 15px; 
    }
    #degrees>img{
        padding: 0px;
    }
    #degrees>p:nth-of-type(2){
        padding: 0px;
    }
    #degrees>button{
        height: 40px;
        width: 200px;
        margin-top: 0px;
    }
    #degrees>div>p{
        padding: 0px 10px 0px 0px;
    }
}
@media screen and (max-width: 768px){
    #block-prices{
        height: 860px;
    }
}
@media screen and (max-width: 576px){

}

/*---------------------------*/

#affiliate_desk{
    background: url(img/Affiliate.png) no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
    margin-top: -110px;
    font-family: 'Acumin Pro Wide';
}
#affiliate_desk_1{
    margin-left: 280px;
    margin-top: 55px;
}
#affiliate_desk_1>p:nth-of-type(2){
    font-size: 25px;
    font-weight: bold;
}
#affiliate_desk_1>p:nth-of-type(1){
    font-weight: bold;
}
#affiliate_desk_1>p:nth-of-type(2)>span{
    color: var(--dark-orange);
}
#affiliate_desk_1>p:nth-of-type(3){
    font-size: 14px;
}
#affiliate_desk_2{
    margin-top: 70px;
    margin-left: 150px;
}
#affiliate_desk_2>button{
    height: 56px;
    width: 204px;
    background-color: var(--light-orange);
    border: none;
    margin-left: 20px;
}
#affiliate_desk_2>button:hover{
    color: white;
}
#affiliate_desk_2>p{
    font-size: 14px;
    padding-top: 20px;
}
#affiliate_mob{
    visibility: collapse;
    background: url(img/affiliate-SE.png) no-repeat;
    background-size: 100%;
    margin-top: -100px;
    margin-left: 120px;
}
#affiliate_mob>div{
    margin-top: 110px;
    padding: 20px;
    font-family: 'Acumin Pro Wide';
}
#affiliate_mob>div>p:nth-of-type(1){
    font-size: 12px;
}
#affiliate_mob>div>p:nth-of-type(2){
    font-weight: bold;
}
#affiliate_mob>div>button{
   background-color: var(--light-orange);
   height: 40px;
   width: 224px;
   border: none;
}
#affiliate_mob>div>p:nth-of-type(3){
    margin-top: 10px;
    font-size: 12px;
}

@media screen and (max-width: 1200px){
    #affiliate_desk_1{
        margin-left: 220px;
        margin-top: 45px;
    }
    #affiliate_desk_2{
        margin-top: 60px;
        margin-left: 100px;
    }
}
@media screen and (max-width: 992px){
    #affiliate_desk_1{
        margin-left: 180px;
        margin-top: 30px;
    }
    #affiliate_desk_1>p:nth-of-type(1){
        font-weight: bold;
        font-size: 11px;
    }
    #affiliate_desk_1>p:nth-of-type(2){
        font-size: 16px;
        font-weight: bold;
    }
    #affiliate_desk_1>p:nth-of-type(3){
        font-size: 11px;
    }
    #affiliate_desk_2{
        margin-top: 40px;
        margin-left: 80px;
    }
    #affiliate_desk_2>button{
        height: 46px;
        width: 164px;
    }
    #affiliate_desk_2>p{
        font-size: 11px;
        padding-top: 10px;
    }

}
@media screen and (max-width: 768px){
    #affiliate_desk{
        visibility: collapse;
    }
    #affiliate_mob{
        visibility: visible;
    }
}
@media screen and (max-width: 576px){

}

/*---------------------------*/
#block-3{
    margin-top: 10px;
}
#purchase-block-3{
    margin-top: 50px;
}
#purchase-block-3>h2{
    font-family: 'Acumin Pro';
    font-weight: bold;
}
#purchase-block-3>p:nth-of-type(1){
    font-family: 'Acumin Pro';
    font-weight: bold;
}
#purchase-block-3>p:nth-of-type(2), #purchase-block-3>p:nth-of-type(3){
    font-family: 'Acumin Pro Wide';
}
#purchase-block-3>img{
    margin-top: 10px;
    margin-bottom: 30px;
}
#purchase-block-3>a{
    font-family: 'Acumin Pro Wide';
    color: var(--classic-red);
    font-weight: bold;
}

@media screen and (max-width: 992px){
    #block-3-div>img{
        height: 530px;
        margin-top: 50px;
    }
    #purchase-block-3>div>p{
        font-size: 14px;
    }
    #purchase-block-3>div>h2{
        font-size: 25px;
    }
    #block-3-div>img{
        margin-top: 100px;
    }
    #block-3{
        margin-top: -100px;
    }
}
@media screen and (max-width: 768px){
    #block-3-div>img{
        padding-left: 70px;
    }
    #block-3{
        margin-top: 0px;
    }
}
@media screen and (max-width: 576px){
}

/*---------------------------*/

#our-discounts{
    background: url(img/discounts.png) no-repeat;
    background-size: cover;
    height: 680px;
    position: relative;
}
#our-discounts>div>h2{
    padding-top: 140px;
}
#discounts{
    padding-top: 50px;
    position: absolute;
    left: 300px;
}
#discounts>div{
    padding-top: 30px;
    padding-bottom: 50px;
}
#discount-1{
    background-color: white;
    height: 373px;
    box-shadow: 0px 5px 15px 0px #223c5033;
    font-family: 'Acumin Pro Wide';
} 
#discount-1:hover{
    border: 1px solid var(--dark-orange);
}
#discount-1>p:nth-of-type(1){
    color: var(--classic-red);
    font-size: 30px;
    font-weight: bold;
}
#discount-1>p:nth-of-type(1)>span, #discount-1>p:nth-of-type(2){
    color: var(--text-gray);
    font-size: 15px;
    font-weight: normal;
}
#discount-1>p:nth-of-type(3){
    color: var(--dark-blue);
    font-size: 25px;
    font-weight: bold;
}
#discount-1>img{
    margin-bottom: 20px;
    margin-top: 10px;
}
#discount-1>button{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid var(--text-gray);
}
#discount-1>button:hover{
    background-color: var(--dark-orange);
    color: white;
    border: 1px solid var(--dark-orange);
}

@media screen and (max-width: 1200px){
    #discounts{
        left: 130px;
    }
}
@media screen and (max-width: 992px){
    #discounts{
        left: 15px;
    }
}
@media screen and (max-width: 768px){
    #discount-1{
        animation: discount 5s ease .2s infinite;
        margin-left: 30px;
        left: 0px;
    }
    @keyframes discount{
        0%{
            left: 0;
        }
        35%{
            left: -160px;
        }
        65%{
            left: -340px;
        }
        100%{
            left: -480px;
        }
    }
}
@media screen and (max-width: 576px){
}

/*---------------------------*/

#features-block{
    padding-top: 40px;
}
#features-menu>div>div:nth-of-type(2){
    padding-left: 40px;  
}
#features-block>div>div>h2{
    font-family: 'Acumin Pro Wide';
    font-weight: bold;
}
#features-block>div>img{
    padding-top: 20px;
    margin-bottom: 40px;
}
#features-menu>div>div:nth-of-type(2)>h4{
    font-family: 'Acumin Pro';
    font-weight: bold;
}
#features-menu>div>div:nth-of-type(2)>p{
    font-family: 'Acumin Pro';
}
#features-img{
    padding-top: 40px;
}

@media screen and (max-width: 992px){
    #features-menu>div>div>p{
        font-size: 14px;
    }
    #features-img>img{
        height: 530px;
        margin-top: 80px;
    }
}
@media screen and (max-width: 768px){
    #features-img>img{
        padding-left: 70px;
        margin-top: 10px;
    }
    #features-block>img{
        padding-bottom: 30px;
    }
}

/*---------------------------*/

#pre-footer{
    background: url(img/maskbd.png) no-repeat, url(img/bg.png) no-repeat;
    background-size: cover;
    height: 360px;
    padding-top: 120px;
    color: white;
    font-family: 'Acumin Pro Wide';
}
#pre-footer>div>button{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border: none;
}
#pre-footer>div>button:hover{
    background-color: var(--beige);
}
#pre-footer>div>button>a{
    color: var(--dark-orange);
    text-decoration: none;
}
#pre-footer>div>img{
    height: 3px;
    margin-bottom: 20px;
}

/* @media screen and (max-width: 992px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 576px){
} */

/*------------FOOTER---------------*/

footer{
    background: url(img/footer.png);
    height: 400px;
    font-family: 'Acumin Pro';
}
#footer-menu{
    padding-top: 60px;
    color: white;
}
#foot-services>ul>li{
    list-style-type: none;
}
#foot-services>ul>li>a{
    color: white;
}
#foot-services>ul>li>a:hover{
    color: var(--light-orange);
    text-decoration: none;
}
#foot-2>div>ul>li{
    list-style-type: none;
    padding: 5px;
}
#foot-3>div>ul>li{
    list-style-type: none;
    padding: 5px;
}
#foot-services{
    padding-left: 100px;
}
#foot-end{
    padding-top: 20px;
    color: white;
}
#foot-end>hr{
    border: 1px solid var(--text-color);
}
@media screen and (max-width: 1200px){
    #foot-services{
        padding-left: 90px;
    }
}
@media screen and (max-width: 992px){
    #foot-logo{
        height: 28px;
    }
    #foot-phones{
        font-size: 16px;
    }
    #foot-email{
        font-size: 14px;
    }
    #foot-end>p{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px){
    footer{
        height: 860px;
    }
    #footer-menu{
        padding-top: 30px;
    }
    #foot-logo{
        height: 35px;
    }
    #foot-phones{
        font-size: 20px;
    }
    #foot-email{
        font-size: 20px;
    }
    #foot-services{
        padding-left: 15px;
        font-size: 20px;
    }
}